<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5" style="background-color: #ffffff;">
        <div class="card-body p-5">

            <div style="text-align:center">
                <div class="text-dark" style="font-size: 30px;">การรดน้ำ</div>
            </div>
            <br><br><br>

            <div style="text-align:center">
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-3">
                            <div class="form-group ">
                                <input type="date" id="myDate"  #Date>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group ">
                                <select class="form-control" #time1>
                                    <option value="nan">เลือกช่วงเวลา</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group ">
                                <select class="form-control" #time2>
                                    <option value="nan">เลือกช่วงเวลา</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <br><br><br>
                    
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12">
                            <div class="chart-container">
                                <chart [type]="typeChart" [data]="dataChart" [options]="optionsChart"></chart>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-3">
                            <div class="form-group ">
                                <button [routerLink]="['/plotmenu',{id: plot_id}]" mat-raised-button color="primary" class="btn-Menu">ย้อนกลับ</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group ">
                                <button  mat-raised-button color="primary" class="btn-login" (click)="GetDate(Date,time1,time2)">ตกลง</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>