<div class="container">
    <div class="card border-0 shadow my-5" style="background-color: #ffffff;">
        <div class="card-body p-5">

            <div style="text-align:center">
                <div style=" font-size: 30px; ">{{plot_name}}
                    <div style="float: right;">
                        <button [routerLink]="['/plotconfig',{id: plot_id}]" mat-raised-button color="primary" class="btn-Menu">ตั้งค่าแปลง</button>
                        <br><br>
                    </div>
                </div>
            </div><br>

            <div class="group justify-content-center">
                <div class="row justify-content-center">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="card ">
                                <div class="card-body">
                                        <div class="row">
                                            <div valign="bootom">
                                                <h5 align='right'>ความเข้มแสง : {{light}}</h5>
                                                <h5 align='right'>อุณหภูมิ : {{temp}}</h5>
                                                <h5 align='right'>ความชื้นดิน : {{dirt_moisure}}</h5>
                                                <h5 align='right'>ความชื้นอากาศ : {{air_moisure}}</h5>
                                                <h5 align='right'>update : {{CurrentDate | date:'hh:mm:ss'}}</h5>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-secondary">
                    <thead>
                        <tr>
                            <th scope="col">วันที่ปลูก</th>
                            <th scope="col">กำหนดเก็บ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ CreatedDate | date:'d/M/yyyy' }}   </td>
                            <td>30/1/2562</td>
                        </tr>
                </table>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table table-secondary">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col ">สถานะ</th>
                            <th scope="col">น้ำ/ปุ๋ย</th>
                            <th scope="col">หยุด</th>
                            <th scope="col">ทำงาน</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ปั้มน้ำ</td>
                            <td>ทำงาน</td>
                            <td>ปุ๋ย</td>
                            <td><button mat-raised-button color="primary" class="btn-Delete circle"></button></td>
                            <td><button mat-raised-button color="primary" class="btn-login circle"></button></td>
                            <td>

                                <button routerLink="/fertconfig" mat-raised-button color="primary" class="btn-Menu">ตั้งค่าปุ๋ย</button></td>
                            <td> <button routerLink="/watering" mat-raised-button color="primary" class="btn-Menu">ประวัติการให้น้ำ</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-secondary">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">สถานะ</th>
                            <th scope="col">หยุด</th>
                            <th scope="col">ทำงาน</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>แสง</td>
                            <td>ปิด</td>
                            <td><button mat-raised-button color="primary" class="btn-Delete circle"></button></td>
                            <td><button mat-raised-button color="primary" class="btn-login circle"></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="float: right;">
                <div style="float: right;">
                    <button routerLink="/plot" mat-raised-button color="primary" class="btn-Menu">ย้อนกลับ</button><br>
                </div>
            </div>
            <br><br>

            <!-- <div style="height: 700px"></div>
            <p class="lead mb-0">You've reached the end!</p> -->

        </div>
    </div>
</div>