<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5" style="background-color: #ffffff;">
        <div class="card-body p-5">

            <div style="text-align:center">
                <div class="text-dark" style="font-size: 30px;">แก้ไขข้อมูลพืช</div>
            </div>
            <br><br><br><br>

            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-2">
                        <label for="inputName"></label>
                    </div>
                    <div class="col-2">
                        <label for="inputMoisture">ชื่อ</label>
                    </div>
                    <div class="col-2">
                        <label for="inputLight"></label>
                    </div>
                </div>

                <div class="row justify-content-around">
                    <div class="col-2">

                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" id="inputName" value={{PlotConfig.name}} #name>
                    </div>
                    <div class="col-3">

                    </div>
                </div>
                <br><br>

                <div class="row justify-content-around">
                    <div class="col-2">
                        <label for="inputName"></label>
                    </div>
                    <div class="col-2">
                        <label for="inputMoisture">ความชื้นในดิน</label>
                    </div>
                    <div class="col-2">
                        <label for="inputLight">แสง</label>
                    </div>
                </div>

                <div class="row justify-content-around">    
                    <div class="col-2">
                        <label for="inputName">ต้นกล้า (7 วัน)</label>
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" id="inputMoisture" value={{PlotConfig.dirthumid}} #dirthumid>
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" id="inputLight" value={{PlotConfig.light}} #light>
                    </div>
                </div>
                <br><br>

                <div class="row justify-content-around">
                    <div class="col-2">
                        <label for="inputName"></label>
                    </div>
                    <div class="col-2">
                        <label for="inputMoisture">ความชื้นในดิน</label>
                    </div>
                    <div class="col-2">
                        <label for="inputLight">แสง</label>
                    </div>
                </div>

                <div class="row justify-content-around">
                    <div class="col-2">
                        <label for="inputName">ต้นอ่อน</label>
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" id="inputMoisture" placeholder="15">
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" id="inputLight" placeholder="180">
                    </div>
                </div>
                <br><br>
                <div class="row justify-content-around">
                    <div class="col-2">
                        <label for="inputName"></label>
                    </div>
                    <div class="col-2">
                        <label for="inputMoisture">ความชื้นในดิน</label>
                    </div>
                    <div class="col-2">
                        <label for="inputLight">แสง</label>
                    </div>
                </div>
                <div class="row justify-content-around">
                    <div class="col-2">
                        <label for="inputName">ต้นโต</label>
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" id="inputMoisture" placeholder="15">
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" id="inputLight" placeholder="180">
                    </div>
                </div>
                <br><br>
                <div class="d-flex justify-content-start">
                    <div class="col-4">
                        &nbsp;&nbsp; &nbsp;&nbsp;
                        <label for="inputMoisture">คำแนะนำ</label>
                    </div>
                    <div class="col-3">
                        <select class="form-control" (change)="onChange(PlantsSelect.value)" #PlantsSelect>
                            <option *ngFor="let c of Plants" [ngValue]="c"> {{c.name}} </option>
                        </select>
                    </div>
                    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                    <div class="col-2">
                        <label for="input">จำนวนวันที่ใช้ปลูก</label>
                    </div>
                    <div class="col-1">
                        <label for="inputDay">30</label>
                    </div>
                    <div class="col-1">
                        <label for="inputDay">วัน</label>
                    </div>
                </div>



                <br><br>
                <div style="text-align:center">
                    <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <div class="row">
                                <div class="col-6">
                                    <button mat-raised-button color="primary" class="btn-Delete" [routerLink]="['/plotmenu',{id: plot_id}]">ยกเลิก</button>
                                </div>
                                <div class="col-6">
                                    <button mat-raised-button color="primary" class="btn-login" (click)=UpdatePlotConfigPlantSetting(name,dirthumid,light)>ตกลง</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>

                <!-- <div style="height: 700px"></div>
            <p class="lead mb-0">You've reached the end!</p> -->

            </div>
        </div>
    </div>