<!-- Navigation -->
<nav class="navbar navbar-expand-lg static-top mb-5 shadow" style="background-color: #ffffff;">
    <div class="container">
        <a class="navbar-brand" href="#">Smart Farm</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">หน้าหลัก
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" (click)=Logout()>ออกจากระบบ
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5" style="background-color: #ffffff;">
        <div class="card-body p-5">
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="First group">
                    <div class="form-group ">
                        <label style="font-size: 25px;">{{error}}</label>
                    </div>
                </div>
                <div class="input-group">
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button routerLink="/edit" mat-raised-button color="primary" class="btn-Edit">แก้ไข</button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Third group">
                        <button routerLink="/managedevice" mat-raised-button color="primary" class="btn-Menu">จัดการอุปกรณ์</button>
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="row d-flex justify-content-center">
                <ng-container>
                    <button routerLink="/plotmenu" class=" bn-secondary " style="width:170px;height:150px">แปลงผัก</button>
                    <button routerLink="/plotmenu" class=" bn-secondary " style="width:170px;height:150px">แปลงผัก</button>
                    <button routerLink="/plotmenu" class=" bn-secondary " style="width:170px;height:150px">แปลงผัก</button>
                    <button routerLink="/plotmenu" class=" bn-secondary " style="width:170px;height:150px">แปลงผัก</button>
                    <button routerLink="/plotmenu" class=" bn-secondary " style="width:170px;height:150px">แปลงผัก</button>
                    <button routerLink="/plotmenu" class=" bn-secondary " style="width:170px;height:150px">แปลงผัก</button>
                    <button routerLink="/plotmenu" class=" bn-secondary " style="width:170px;height:150px">แปลงผัก</button>
                    <button routerLink="/plotmenu" class=" bn-secondary " style="width:170px;height:150px">แปลงผัก</button>
                    <button routerLink="/plotmenu" class=" bn-secondary " style="width:170px;height:150px">แปลงผัก</button>
                    <button routerLink="/plotmenu" class=" bn-secondary " style="width:170px;height:150px">แปลงผัก</button>
                    <button routerLink="/plotmenu" class=" bn-secondary " style="width:170px;height:150px">แปลงผัก</button>
                    <button routerLink="/plotmenu" class=" bn-secondary " style="width:170px;height:150px">แปลงผัก</button>
                </ng-container>
            </div>
            <br><br>

            <!-- <div style="height: 700px"></div>
            <p class="lead mb-0">You've reached the end!</p> -->

        </div>
    </div>
</div>