

<!-- Navigation -->
<nav class="navbar navbar-expand-lg static-top mb-5 shadow" style="background-color: #ffffff;">
    <div class="container">
        <a class="navbar-brand" href="#">Smart Farm</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">หน้าหลัก
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <!-- <button class="btn btn-danger"> ออกจากระบบ</button> -->
                    <a class="nav-link" href="#">ออกจากระบบ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5" style="background-color: #ffffff;">
        <div class="card-body p-5">

            <div style="text-align:center">
                <div class="text-dark" style="font-size: 30px;">ประวัติการรดน้ำ</div>
            </div>
            <br><br><br><br>

            <div class="table-responsive ">
                <table id="example" class="table  table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">วัน/เดือน/ปี</th>
                            <th scope="col">เช้า</th>
                            <th scope="col">เย็น</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>04/04/2563</td>
                            <td>6.00</td>
                            <td>15.00</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>05/05/2563</td>
                            <td>7.00</td>
                            <td>15.30</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <br><br>

            <!-- <div style="height: 700px"></div>
            <p class="lead mb-0">You've reached the end!</p> -->

        </div>
    </div>
</div>