<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5" style="background-color: #ffffff;">
        <div class="card-body p-5">

            <div style="font-size: 25px;">จัดการอุปกรณ์
                <div class="btn-group" role="group" aria-label="Third group">
                    <button routerLink="/addevice" mat-raised-button color="primary" class="btn btn-login" style="font-size: 30px;"> +
                    </button>
                </div>
            </div>
            <br>

            <div style="text-align:center">
                <div class="card-body">
                    <div class="row d-flex justify-content-center">

                        <table class="table table-secondary">
                            <thead>
                                <tr>
                                    <th scope="col">ชื่อแปลงผัก</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <div style="text-align:center">
                                <div class="card-body">
                                    <div class="row d-flex justify-content-center">
                                        <ng-container *ngFor="let displayplot of plot.name;let i = index">
                                            <div class="col-md-5">
                                                <div class="form-group ">
                                                    {{displayplot}}
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group ">
                                                    <button mat-raised-button color="primary"
                                                    class="btn btn-Delete" (click)="openDialog()">ลบ</button>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </table>

                        <div class="right">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-2">
                                    <div class="form-group ">
                                        <button routerLink="/plot" mat-raised-button color="primary" class="btn btn-Menu">ย้อนกลับ</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <br><br>

            <!-- <div style="height: 700px"></div>
            <p class="lead mb-0">You've reached the end!</p> -->

        </div>
    </div>
</div>