<!-- <nav>
  <a routerLink="['/login']">Login</a>
</nav> -->




<!-- <div class="container">
  <mat-card class="container">

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field><br>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field><br>
      <mat-card-actions>
        <button mat-raised-button color="accent">LOGIN</button>
        <button mat-raised-button color="accent">REGISTER</button>
      </mat-card-actions>
    </form>
    </mat-card-content>
  </mat-card>

  </div> -->
<!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field><br>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field><br>
    <mat-card-actions>
      <button mat-raised-button color="accent">LOGIN</button>
      <button mat-raised-button color="accent">REGISTER</button>
    </mat-card-actions>
  </form> -->
  <!-- style="max-width:400px; text-align: center;" -->

<br><br>
<div class="main-div">
  <mat-card >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" value="">
            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" value="">
            </mat-form-field>
          </form>
        </div>
      </div>
      
    </div>
  </mat-card>
</div>


<!-- <router-outlet></router-outlet> -->

<!-- <nav>
  <button (click)="goLogin()">Login</button>
</nav> -->