

<!-- Navigation -->
<nav class="navbar navbar-expand-lg static-top mb-5 shadow" style="background-color: #ffffff;">
    <div class="container">
        <a class="navbar-brand" href="#">Smart Farm</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <!-- <button class="btn btn-danger"> ออกจากระบบ</button> -->
                    <a class="nav-link" href="/admin-login" (click)=Logout()>ออกจากระบบ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5" style="background-color: #ffffff;">
        <div class="card-body p-5">

            <div style="text-align:center">
                <div class="text-dark" style="font-size: 30px;">การใส่ปุ๋ย</div>
            </div>
            <br><br><br>

            <div class="row justify-content-around">    
                <div class="col-2">
                    <label>การให้ปุ๋ยครั้งล่าสุด</label>
                </div>
                <div class="col-2">
                    <label>การให้ปุ๋ยครั้งถัดไป</label>
                </div>
            </div>
            <br><br>

            <div class="row justify-content-around">    
                <div class="col-2">
                    <label>{{ PlotConfig.fertilizercycle_last | date:'d/M/yyyy' }}</label>
                </div>
                <div class="col-2">
                    <label>{{ PlotConfig.fertilizercycle_next | date:'d/M/yyyy' }}</label>
                </div>
            </div>  
            <br><br>

            <div class="row justify-content-around">    
                <div class="col-4" style="text-align: right;">
                    <label>ให้ปุ๋ยทุก</label>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" id="fertilizercycle" value={{PlotConfig.fertilizercycle}} #fertilizercycle>
                </div>
                <div class="col-4">
                    <label>วัน</label>
                </div>                                         
            </div>
            <br><br>

            <div style="text-align:center">
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <div class="row">
                            <div class="col-6">
                                <button [routerLink]="['/admin-edit-user',{id:user_id}]" mat-raised-button color="primary"
                                    class="btn-Delete">ยกเลิก</button>
                            </div>
                            <div class="col-6">
                                <button  mat-raised-button color="primary" 
                                    class="btn-login" (click)="UpdateFertConfig(fertilizercycle)">ตกลง</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <!-- <div style="height: 700px"></div>
            <p class="lead mb-0">You've reached the end!</p> -->

        </div>
    </div>
</div>