<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5" style="background-color: #ffffff;">
        <div class="card-body p-5">

            <div style="text-align:center">
                <div class="text-dark" style="font-size: 30px;">การใส่ปุ๋ย</div>
            </div>
            <br><br><br>

            <div style="text-align:center">
                <div class="row justify-content-around">
                    <div class="col-2">
                        <label for="inputName">ต้นกล้า</label>
                    </div>
                    <div class="col-3">
                        <p>ใส่ทุก</p>
                        <select class="form-control">
                            <option value="">ไม่ใส่</option>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                            <option value="">7</option>
                            <option value="">8</option>
                            <option value="">9</option>
                            <option value="">10</option>
                            <option value="">11</option>
                            <option value="">12</option>
                            <option value="">13</option>
                            <option value="">14</option>
                        </select><br>
                        <p>วัน</p>
                    </div>
                </div>
                <br><br>
                <div class="row justify-content-around">
                    <div class="col-2">
                        <label for="inputName">ต้นอ่อน</label>
                    </div>
                    <div class="col-3">
                        <p>ใส่ทุก</p>
                        <select class="form-control">
                            <option value="">ไม่ใส่</option>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                            <option value="">7</option>
                            <option value="">8</option>
                            <option value="">9</option>
                            <option value="">10</option>
                            <option value="">11</option>
                            <option value="">12</option>
                            <option value="">13</option>
                            <option value="">14</option>
                        </select><br>
                        <p>วัน</p>
                    </div>
                </div>
                <br><br>
                <div class="row justify-content-around">
                    <div class="col-2">
                        <label for="inputName">ต้นโต</label>
                    </div>
                    <div class="col-3">
                        <p>ใส่ทุก</p>
                        <select class="form-control">
                            <option value="">ไม่ใส่</option>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                            <option value="">7</option>
                            <option value="">8</option>
                            <option value="">9</option>
                            <option value="">10</option>
                            <option value="">11</option>
                            <option value="">12</option>
                            <option value="">13</option>
                            <option value="">14</option>
                        </select><br>
                        <p>วัน</p>
                    </div>
                </div>
                <br><br>
                <br><br>
                <div style="text-align:center">
                    <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <div class="row">
                                <div class="col-6">
                                    <button routerLink="/plotmenu" mat-raised-button color="primary"
                                        class="btn-Delete">ยกเลิก</button>
                                </div>
                                <div class="col-6">
                                    <button routerLink="/plotmenu" mat-raised-button color="primary"
                                        class="btn-login">ตกลง</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div style="height: 700px"></div>
            <p class="lead mb-0">You've reached the end!</p> -->

        </div>
    </div>
</div>