<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5" style="background-color: #ffffff;">
        <div class="card-body p-5">

            <div style="text-align:center">
                <div class="text-dark" style="font-size: 30px;">แก้ไขข้อมูล</div>
            </div>
            <br><br><br><br>

            <div class="form-horizontal">

                <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label ">ชื่อ</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" placeholder="ชื่อ" value="{{Udata.firstname}}" #firstname>
                    </div>
                </div><br>

                <div class="form-group row">
                    <label for="inputlastName" class="col-sm-2 col-form-label ">สกุล</label >
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputLastname" placeholder="สกุล" value="{{Udata.lastname}}" #lastname> 
                    </div>
                </div><br>

                <div class="form-group row">
                    <label for="inputAllowEdit" class="col-sm-2 col-form-label ">AllowEdit</label >
                    <div class="col-sm-10">
                        <input  type="checkbox"   [(ngModel)]="AllowEdit"  [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div><br>

                <div class="row d-flex justify-content-center">
                    <div class="row">
                        <div class="col-5">
                            <button mat-raised-button routerLink="/plot" color="primary" class="btn-Menu">ย้อนกลับ</button>
                        </div>
                        <div class="col-5">
                            <button mat-raised-button  color="primary" class="btn-login" (click)="UpdateUser(firstname,lastname)" >ยืนยัน</button>
                        </div>
                    </div>
                </div>

            </div>

            <br><br>

            <!-- <div style="height: 700px"></div>
            <p class="lead mb-0">You've reached the end!</p> -->

        </div>
    </div>
</div>