
.btn-Menu{
    background: #3f51b5;
  }
  
  .btn-Menu:hover { 
    background: #352a7a; 
  }

  .btn-Delete{
    background: #ff0000;
  }
  
  .btn-Delete:hover { 
    background: #bf0000; 
  }

  .btn-login{
    background: #26fa09;
}

.btn-login:hover { 
    background: #26aa09; 
}
  
  .circle{
    height: 50px;
    width: 0.5px;
    border-radius: 50%;
    background-image: url('/assets/img/1234.png');
    border: none;
}
